/*
!/game
/game/*
!/game/screens.rpy
!/game/.gitignore
!/game/00src
/game/00src/*
!/game/00src/translation.rpy
!/game/gui
/game/gui/*
!/game/gui/flag
/game/gui/flag/*
!/game/gui/flag/France.png
!/game/tl
/game/tl/*
!/game/tl/French
/game/tl/French/*.rpyc
/game/tl/French/story/*.rpyc